    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#" class="logfont">
            <img src="styles/img/minilogo.png" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>Volunteer Coordinator page

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 mt-md-0 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">LogOut <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="loginbutton" style="text-align: center;font-family: 'Montserrat', sans-serif">
        <div class="row">
            <div class="col-2 square">
                <!--Margin-->
            </div>
            <div class="col-4 square" id="task_report_Byteacher" style="background-color:#FF6E1D;cursor:pointer ">
                <img src="styles/img/task_report.png" style="width: 50%" alt="TaskReport"><br>Task Reports
            </div>
            <div class="col-4 square" id="edit_task" style="background-color:#98D9D5;cursor:pointer">
                <img src="styles/img/assign_task.png" style="width: 50%" alt="AssignTask"><br>Assign Task
            </div>
        </div>
        <div class="row">
            <div class="col-2 square">
                <!--Margin-->
            </div>
            <div class="col-4 square" id="delete_task" style="cursor:pointer">
                <img src="styles/img/new_volunteer.png" style="width: 50%" alt="NewVolunteer"><br>New
                Volunteer
            </div>
            <div class="col-4 square" id="about_teacher" style="background-color:#CE938E;cursor:pointer">
                <img src="styles/img/about.png" style="width: 50%" alt="About"><br>About
            </div>
        </div>
        <div class="row">
            <div class="col-2 square">
                <!--Margin-->
            </div>

            <div class="col-4 square" id="help_teacher" style="background-color:#F2484B;cursor:pointer">
                <img src="styles/img/help.png" style="width: 50%" alt="Help"><br>Help
            </div>
            <div class="col-4 square" id="logOut" style="background-color:#98D9D5;cursor:pointer">
                <a href="index.html"><img src="styles/img/logout.png" style="width: 50%"
                        alt="LogOut"><br>LogOut</a>
            </div>
        </div>


    </div>
    <script src="js/app.js"></script>