.list-group-item {
  line-height: 2.5;
}
.row {
  padding: 0;
}
.form-group {
  margin: 15px;
}
/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  z-index: 2;
}
#powered {
  position: absolute;
  right: 25%;
  font-size: 10px;
  top: 20%;
}
.navbar,
h4 {
  font-family: "Montserrat", sans-serif;
}
.square:before {
  content: "";
  display: block;
  padding: 10%;
}
a {
  color: #492c30;
}
a:hover {
  text-decoration: none;
  color: #492c30;
}
.dropdown-backdrop {
  position: static;
}

/* begin login */
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  /* background-image: url("https://cdn.greenindustrypros.com/files/base/acbm/gip/image/2019/09/16x9/960w/grass_grass_field_grassland_1001676_pexels.5d6fc97ab8856.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.cancel_btn {
  color: black;
  background-color: #ffc312;
  margin-left: 5px;
}


.login_btn:hover, .cancel_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/* end login */
